<div class="devaning-container">
    <div class="effect-container">
        <div class="loop-wrapper">
            <div class="mountain"></div>
            <div class="hill"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="tree"></div>
            <div class="rock"></div>
            <div class="truck"></div>
            <div class="wheels"></div>
        </div>

        <!-- <div class="shape">
            <img src="/assets/common/images/loading.4e1da2fb9f41c26db3a293b61b073ec3.svg">
        </div> -->
    </div>
    <div class="form-container">
        <p-card>
            <div class="form-content">
                <!-- Row 1 -->
                <div class="form-row">
                    <div class="form-group">
                        <label>Devaning No <small *ngIf="validationErrors.devaningNo" class="p-error">- {{ validationErrors.devaningNo }}</small></label>
                        <input pInputText [(ngModel)]="selection.devaningNo"
                        (blur)="validateField('devaningNo')">
                    </div>
                    <div class="form-group">
                        <label>Container No <small *ngIf="validationErrors.containerNo" class="p-error">- {{ validationErrors.containerNo }}</small></label>
                        <input pInputText [(ngModel)]="selection.containerNo"
                        (blur)="validateField('containerNo')">
                    </div>
                </div>
                <!-- Row 2 -->
                <!-- <div class="form-row">
                    <div class="form-group">
                        <label>Working Date</label>
                        <p-calendar
                            [(ngModel)]="selection.workingDate"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            appendTo="body">
                        </p-calendar>
                    </div>
                    <div class="form-group">
                        <label>Acivity Devaning Date</label>
                        <p-calendar
                            [(ngModel)]="selection.actDevaningDate"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            appendTo="body">
                        </p-calendar>
                    </div>
                </div> -->
                <!-- Row 3 -->
                <div class="form-row">
                    <div class="form-group">
                        <label>Shift No <small *ngIf="validationErrors.shiftNo" class="p-error">- {{ validationErrors.shiftNo }}</small></label>
                        <input pInputText [(ngModel)]="selection.shiftNo"
                        (blur)="validateField('shiftNo')">
                    </div>
                    <div class="form-group" [@shake]="shakeState">
                        <label>Plan Devaning Date</label>
                        <p-calendar
                            [(ngModel)]="selection.planDevaningDate"
                            [showIcon]="true"
                            dateFormat="dd/mm/yy"
                            appendTo="body">
                        </p-calendar>

                        <!-- <small *ngIf="validationErrors.planDevaningDate" class="p-error">- {{ validationErrors.planDevaningDate }}</small> -->
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="form-row">
                    <div class="form-group">
                        <label>Renban <small *ngIf="validationErrors.renban" class="p-error">- {{ validationErrors.renban }}</small></label>
                        <input
                        pInputText
                        [(ngModel)]="selection.renban"
                        [disabled]="!selection.suppilerNo || !selection.renban"
                        (blur)="validateField('renban')"
                        (ngModelChange)="onRenbanChange($event)">
                    </div>
                    <div class="form-group" [@shake]="shakeState">
                        <span class="p-float-label">
                            <p-dropdown
                                inputId="supplierDropdown"
                                [options]="suppliers"
                                [(ngModel)]="selection.suppilerNo"
                                optionLabel="label"
                                optionValue="value"
                                (ngModelChange)="onSupplierChange($event)"
                                [autoDisplayFirst]="false"
                                appendTo="body">
                            </p-dropdown>
                            <label for="supplierDropdown">Supplier</label>
                        </span>
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="form-row">
                    <div class="form-group">
                        <label>Devaning Type <small *ngIf="validationErrors.devaningType" class="p-error">- {{ validationErrors.devaningType }}</small></label>
                        <input pInputText [(ngModel)]="selection.devaningType"
                        (blur)="validateField('devaningType')">
                    </div>
                    <div class="form-group" [@shake]="shakeState">
                        <span class="p-float-label">
                            <p-dropdown
                                inputId="devaningStatusDropdown"
                                [options]="devaningStatuses"
                                [(ngModel)]="selection.devaningStatus"
                                optionLabel="label"
                                optionValue="value"
                                [autoDisplayFirst]="false"
                                appendTo="body">
                            </p-dropdown>
                            <label for="devaningStatusDropdown">Devaning Status</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-footer">
                <p-button
                    label="Save"
                    icon="pi pi-check"
                    styleClass="p-button-success"
                    (click)="save()">
                </p-button>

                <p-button
                    label="Close"
                    icon="pi pi-times"
                    styleClass="p-button-secondary"
                    (click)="closeModal()">
                </p-button>
            </div>
        </p-card>
    </div>

</div>
<p-toast position="bottom-center"></p-toast>
