<div class="steptwo-container">
    <div class="container-content">
        <div class="form-general-information">
            <p-card [style]="{'width': '80%','padding':'10px'}" class="flex-center">
                <div class="form-proposer-information">
                    <div class="col-12 d-flex mb-2 justify-between">
                        <div class="p-field w-49 flex-column">
                            <label>Devaning No</label>
                            <input class="w-100" type="text" name="devaningNo" [(ngModel)]="selection.devaningNo" pInputText />
                        </div>
                        <div class="p-field w-49 flex-column">
                            <label>Container No</label>
                            <input class="w-100" type="text" name="containerNo" [(ngModel)]="selection.containerNo" pInputText />
                        </div>
                    </div>

                    <div class="col-12 d-flex mb-2 justify-between">
                        <div class="p-field w-49 flex-column">
                            <label>Renban</label>
                            <input class="w-100" type="text" name="devaningNo" [(ngModel)]="selection.renban" pInputText />
                        </div>
                        <div class="p-field w-49 flex-column">
                            <label>Supplier</label>
                            <input class="w-100" type="text" name="containerNo" [(ngModel)]="selection.suppilerNo" pInputText />
                        </div>
                    </div>

                    <div class="col-12 d-flex mb-2 justify-between">
                        <div class="p-field w-49 flex-column">
                            <label>Shift No</label>
                            <input class="w-100" type="text" name="devaningNo" [(ngModel)]="selection.shiftNo" pInputText />
                        </div>
                        <div class="p-field w-49 flex-column">
                            <label>Working Date</label>
                            <input class="w-100" type="text" name="containerNo" pInputText />
                        </div>
                    </div>

                    <div class="col-12 d-flex mb-2 justify-between">
                        <div class="p-field w-49 flex-column">
                            <label>PLan Date</label>
                            <input class="w-100" type="text" name="devaningNo" [(ngModel)]="selection.devaningNo" pInputText />
                        </div>
                        <div class="p-field w-49 flex-column">
                            <label>Act Date</label>
                            <input class="w-100" type="text" name="containerNo" [(ngModel)]="selection.containerNo" pInputText />
                        </div>
                    </div>
                    <div class="col-12 d-flex mb-2 justify-between">
                        <div class="p-field w-49 flex-column">
                            <label>Devaning Type</label>
                            <input class="w-100" type="text" name="devaningNo" [(ngModel)]="selection.devaningNo" pInputText />
                        </div>
                        <div class="p-field w-49 flex-column">
                            <label>Devaning Status</label>
                            <input class="w-100" type="text" name="containerNo" [(ngModel)]="selection.containerNo" pInputText />
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
        <div class="footer-action flex-center col-12 mb-2">
            <div class="button-action w-80 d-flex justify-content-end">
                <button pButton class="btn btn-success" (click)=" save()">{{'Save' | localize}}</button>
                <button pButton class="btn btn-primary" (click)="closeModal()">{{'Close' | localize}}</button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
