/* @import './node_modules/ng-zorro-antd/min.css'; */
/* You can add global styles to this file, and also import other style files */
.w-39{
    width: 39%;
}
.w-49{
    width: 49%;
}
.w-50{
    width: 50%;
}
.w-59{
    width: 59%;
}
.w-99{
    width: 99%;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.h-60vh{
    height: 60vh;
}
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.p-10px{
    padding: 10px
}
.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

.swal2-icon.swal2-info::before,
.swal2-icon.swal2-warning::before,
.swal2-icon.swal2-success::before,
.swal2-icon.swal2-error::before {
    content: "";
}

@keyframes glowing {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

ngx-spinner .loading-text {
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}

bs-days-calendar-view+bs-days-calendar-view {
    margin-left: 10px;
}

bs-days-calendar-view {
    display: inline-block;
    border-radius: 4px 0 0 4px;
}

@media (max-width: 768px) {
    .btn-md-icon {
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.ml-2{
    margin-left: 1.25rem;
}
.mr-1{
    margin-right: 0.25rem;
}
.mr-2{
    margin-right: 1.25rem;
}

.justify-between{
    justify-content: space-between;
}

/*_____________________________ CUSTOM LAYOUT________________________________ */
#kt_app_footer {
    display: none;
}

/*------------------------------ custom sidebar ------------------------------*/

#kt_app_sidebar_menu_wrapper {
    padding: 5px 0px;
    background: white;
    border-radius: 1;
    border-top-right-radius: 10px;
    height: 803px;
    border-bottom-right-radius: 10px;
}

#kt_app_sidebar {background: transparent;}

.app-sidebar-menu .overflow-hidden .flex-column-fluid .ng-tns-c179-4 {background: transparent;}

#kt_app_sidebar_logo {background-color: white;}

#kt_app_header_container,#kt_app_sidebar_logo{box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;}
/* ----------------------------------------------------------------------------------------------------------- */


/*______________ custom p-table __________*/

.h-72vh{
    height: 72vh;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.w-80{
    width: 80%;
}
.ml-1{
    margin-left: 0.25rem;
}
.p-datatable .p-datatable-tbody > tr:not(.p-highlight):focus{
    background-color: #007ad9 !important;
}
.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover{
    background: #258fe0 !important;
}
.p-datatable .p-datatable-tbody > tr.p-highlight{
    background-color: #007ad9 !important;
    color: white !important;
}
p-paginator > div{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.p-datatable-thead tr:first-child th {
    background-color: #bfbfbf94 !important;
    text-align: center !important;
}

.p-datatable-thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}

.p-datatable-thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */
}

.p-datatable-thead tr:last-child th {
    text-align: center !important;
    /* padding: 0.5rem 0.5rem !important; */
}
.p-datatable-thead tr:last-child th > input{
    /* padding: 0.5rem 0.5rem !important; */
}
.p-datatable-thead tr:first-child .p-frozen-column{
  background: #bfbfbf !important;
}


.left{
    left: 0;
}
.right{
    right: 0;
}
/*________________________________________*/


/*______________ custom tab ______________*/
/* .nav-item {
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: #555;
    background-color: #dbdbdb  !important;
    transition: background-color 0.3s,border-bottom-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.nav-item:not(:last-child){
    border-right: 1px solid  rgb(255 233 233);}
.nav-item .nav-link {
    background-color: transparent !important;
    border: none !important;
}

.nav-item:hover {
    background-color: #f0f0f0;
}

.nav-item.active {
    background-color: white !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: border-bottom-color 0.3s, color 0.3s, box-shadow 0.3s;
} */

:host ::ng-deep .tabview-custom i,
:host ::ng-deep .tabview-custom span {
    vertical-align: middle;
}

:host ::ng-deep .tabview-custom span {
    margin: 0 .5rem;
}

:host ::ng-deep .p-button {
    margin-right: .25rem;
}

:host ::ng-deep .p-tabview p {
    line-height: 1.5;
    margin: 0;
}
.p-tabview-nav{
    border: 0 !important;
    background: transparent !important;
}
.p-tabview-panels{
    display: none;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link  {
    padding: 1rem 2.25rem !important;
    border-right: 1px solid #ebebeb !important;
}
.p-tabview-nav-content{
    border-radius: 10px;
}
.p-tabview-nav-content .p-tabview-nav li{
    background-color: transparent;
}
.p-tabview-nav-content .p-tabview-nav li[role="presentation"]:first-child a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.p-tabview-nav-content .p-tabview-nav li:nth-last-child(2) a{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#kt_app_root{
    background-color: #efefef;
}


/* Date-picker không có float label nên phải custom */
.date-float {
    position: relative;
  }

  .date-float input:focus + label,
  .date-float input:not(:placeholder-shown) + label,
  .date-float .p-inputwrapper-filled + label {
    top: -0.75rem;
    font-size: 0.75rem;
    color: #007ad9;
  }

  .date-float input + label {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    color: #9e9e9e;
  }

  .date-float .p-inputwrapper {
    padding: 0.5rem 0;
    border: none;
    outline: none;
  }
  .p-calendar{
    width: 99%;
  }
/* ______________________________________ */

/*________________________________________*/

/*__________________________________________________________________________________ */

.p-inputtext{
    background-color: #f6f6f6  !important;
}
