<div class="container">
    <div class="unpackinglot">
        <p-table #dt1
            [value]="listUnpackingpartlist"
            dataKey="moduleNo"
            [rowHover]="true"
            [metaKeySelection]="false"
            rowGroupMode="subheader"
            groupRowsBy="moduleNo"
            [globalFilterFields]="['moduleNo']">

            <ng-template pTemplate="caption">
                <div class="d-flex justify-between align-items-center">
                    <h3 class="m-0">UNPACKING PARTLIST</h3>
                    <div class="search-option">
                        <div class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                [(ngModel)]="searchValue"
                                (input)="onSearch(searchValue)"
                                placeholder="Search by ModuleNo..." />
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn class="column-border-right">
                        <div class="flex justify-content-center align-items-center">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="groupheader" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td colspan="7" style="text-align: left;">
                        <button type="button" pButton pRipple [pRowToggler]="rowData"
                            class="p-button-text p-button-rounded p-button-plain mr-2"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                        <span class="font-bold ml-2">{{rowData.moduleNo}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
                    <td *ngFor="let col of cols"
                        [ngClass]="col.field === 'status' ? getStatusBackgroundClass(rowData[col.field]) : ''">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-toolbar class="flex-center">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-button-rounded mr-2"
                (click)="exportToExcel()"></button>
        </p-toolbar>

    </div>
</div>
