<div bsModal #createOrEditModalCmmBin="bs-modal" class="modal fade col-md-12" role="dialog" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-md-12">
            <div class="modal-header col-md-12">
                <div class="title-form">
                    <h3 *ngIf="rowdata.id">{{('Edit BIN')}}</h3>
                    <h3 *ngIf="!rowdata.id">{{('Create New BIN')}}</h3>
                </div>
            </div>
        </div>
        <div class="modal-content col-md-12">
            <form #applyBpForm="ngForm" (ngSubmit)="save()" autocomplete="off" (keyup.enter)="save()" (keyup.ESC)="close()">
            <!-- Form Basic-->
                <div class="form-input">
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>BIN</label>
						<input type='text' class='col-md-10 form-control input-text' name='binName' [(ngModel)]='rowdata.binName'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Supplier</label>
						<input type='text' class='col-md-10 form-control input-text' name='binType' [(ngModel)]='rowdata.binType'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Description</label>
						<input type='text' class='col-md-10 form-control input-text' name='description' [(ngModel)]='rowdata.description'>
					</div>
					<div class='col-md-12 form-group row'>
						<label class='col-md-2 form-control title'>Creation Min Amount</label>
						<input type='text' class='col-md-10 form-control input-text' name='createMinAmount' [(ngModel)]='rowdata.creationMinAmount'>
					</div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            <span>{{ l('Save') }}</span>
                        </button>
                        <button (click)="close()" type="button" class="btn btn-light-primary font-weight-bold">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{ l('Cancel') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
