<!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Move your world</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">IT SUPPORT</p>
                <p class="text-white-75 mb-5">
                    Need assistance with your application? We’ll get you the
                    help you need.
                </p>
                <span class="icon_support"><i class="icon flaticon2-send"></i>
                    <p class="text-white-75 mb-5">
                        &nbsp; support@toyotavn.com.vn
                    </p>
                </span>
                <span class="icon_support"><i class="icon flaticon2-phone"></i>
                    <p class="text-white-75 mb-5">&nbsp; (861) 2222</p>
                </span>
            </div>
        </div>
    </div>
</header>
