<div class="container">
    <div class="unpackinglot">
        <p-table #dt1
            [value]="listUnpackingLot"
            dataKey="id"
            [rowHover]="true"
            [rowsPerPageOptions]="[10,25,5000]"
            [rows]="10"
            [paginator]="true"
            [metaKeySelection]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true" [(selection)]="rowSelection" [resizableColumns]="true"
            [globalFilterFields]="['devaningNo','moduleNo','renban','supplier', 'moduleStatus']">

            <ng-template pTemplate="caption">
                <div class="d-flex justify-between align-items-center">
                    <h3 class="m-0">UNPACKING LOT</h3>
                    <div class="search-option">
                        <p-dropdown
                            [options]="searchFields"
                            [(ngModel)]="selectedField"
                            placeholder="Search by"
                            (onChange)="onSearch(searchValue)">
                        </p-dropdown>

                        <div class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="searchValue"
                                (input)="onSearch(searchValue)"
                                placeholder="Search..."
                                [disabled]="!selectedField"
                            />
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn class="column-border-right">
                        <div class="flex justify-content-center align-items-center">
                            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
                    <td *ngFor="let col of cols" [ngClass]="col.field === 'moduleStatus' ? getStatusBackgroundClass(rowData[col.field]) : ''">
                        <ng-container
                            *ngIf="col.field === 'actUnpackingDate' || col.field ==='actUnpackingDateFinish'">
                            {{ rowData[col.field] | date:'dd/MM/yy HH:mm:ss' }}
                        </ng-container>
                        <ng-container *ngIf=" col.field === 'planUnpackingDate'">
                            {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container
                            *ngIf="col.field !== 'actUnpackingDate' && col.field !== 'planUnpackingDate' && col.field !== 'actUnpackingDateFinish'">
                            {{ rowData[col.field] }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-toolbar class="flex-center">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-button-rounded mr-2" (click)="exportToExcel()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-times" class="p-button-danger p-button-rounded mr-2"></button>
        </p-toolbar>

    </div>
</div>
