<div class="container">
    <div class="unpackinglot">
        <p-table #dt1
            [value]="listUnpackingLot"
            dataKey="devaningNo"
            [rowHover]="true"
            [rows]="10"
            [metaKeySelection]="false"
            rowGroupMode="subheader"
            groupRowsBy="devaningNo"
            [(selection)]="rowSelection"
            [resizableColumns]="true"
            [globalFilterFields]="['devaningNo']">

            <ng-template pTemplate="caption">
                <div class="d-flex justify-between align-items-center">
                    <h3 class="m-0">UNPACKING LOT</h3>
                    <div class="search-option">
                        <div class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="searchValue"
                                (input)="onSearch(searchValue)"
                                placeholder="Search by DevaningNo..."
                            />
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn class="column-border-right">
                        <div class="flex justify-content-center align-items-center">
                            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="groupheader" let-rowData let-columns="columns" let-expanded="expanded">
                <tr>
                    <td colspan="8" style ="text-align: left;">
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="rowData"
                            class="p-button-text p-button-rounded p-button-plain mr-2"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                        </button>
                        <span class="font-bold ml-2">{{rowData.devaningNo}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData>
                <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
                    <td *ngFor="let col of cols" [ngClass]="col.field === 'moduleStatus' ? getStatusBackgroundClass(rowData[col.field]) : ''">
                        <ng-container
                            *ngIf="col.field === 'actUnpackingDate' || col.field ==='actUnpackingDateFinish'">
                            {{ rowData[col.field] | date:'dd/MM/yy HH:mm:ss' }}
                        </ng-container>
                        <ng-container *ngIf=" col.field === 'planUnpackingDate'">
                            {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container
                            *ngIf="col.field !== 'actUnpackingDate' && col.field !== 'planUnpackingDate' && col.field !== 'actUnpackingDateFinish'">
                            {{ rowData[col.field] }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-toolbar class="flex-center">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-button-rounded mr-2" (click)="exportToExcel()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-times" class="p-button-danger p-button-rounded mr-2"></button>
        </p-toolbar>

    </div>
</div>
