@radiusMain: 20px;
@radiusChild: 10px;
@padding: 10px;

.container {
    padding: 0px 10px;
    overflow: hidden;

    .unpackinglot {
        height: calc(88vh - 1.5rem); // 58.13px = 47.5px(height tab) + 10px(margin bottom tab)
        background-color: white;
        padding: 20px;
        border-radius: @radiusMain;
        overflow: auto;
    }
}

