<div class="container" id="container">
    <div class="tab-heading">
        <p-tabView (onChange)="onTabChange($event)"  styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-check-circle"></i>
                    <span>{{'Devaned' | localize}}</span>
                    <p-badge [value]="recordCountDevaned"></p-badge>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-inbox"></i>
                    <span>{{'Devaning' | localize}}</span>
                    <p-badge [value]="recordCountDevaning"></p-badge>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
      </div>
    <div class="devaning">
        <div class="devaning__content">
            <div class="content-wrapper">
                <p-table #dt1
                    styleClass="p-datatable-gridlines h-72vh"
                    [value]="listDataDevaningCont"
                    [resizableColumns]="true"
                    dataKey="id"
                    selectionMode="multiple"
                    [(selection)]="rowSelection"
                    [metaKeySelection]="true"
                    [rowHover]="true"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10,25,5000]"
                    [paginator]="true"
                    [filterDelay]="0"
                    [scrollable]="true"
                    scrollHeight="400px"
                    [virtualScrollItemSize]="46"
                    height="50vh"
                    [loading]="loading"
                    [contextMenu]="contextMenu"
                    [(contextMenuSelection)]="contextMenuSelection"
                    currentPageReportTemplate="{{'ShowingEntries' | localize}}"
	                [globalFilterFields]="['devaningNo','containerNo','renban','suppilerNo', 'shiftNo']">
                    <ng-template pTemplate="caption">
                        <div class="d-flex justify-between">
                            <button pButton [label]="l('Clear')" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" [placeholder]="l('Search')" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem" pFrozenColumn >
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn>
                                <div class="flex justify-content-center align-items-center">
                                    {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                                    <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <!-- <th class="action-col" pFrozenColumn alignFrozen="right">{{'Actions' | localize}}</th> -->
                        </tr>
                        <tr class="colums-filter-header">
                            <th pFrozenColumn></th>
                            <th *ngFor="let col of cols; let i = index">
                                <input pInputText
                                       type="text"
                                       (input)="filter($event.target.value, col.field)"
                                       placeholder="Search by {{col.header}}"
                                       class="w-full">
                            </th>
                            <!-- <th pFrozenColumn alignFrozen="right"></th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
                            <td pFrozenColumn>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of cols">
                                <ng-container *ngIf="col.field === 'actDevaningDate' || col.field ==='actDevaningDateFinish'">
                                    {{ rowData[col.field] | date:'dd/MM/yy HH:mm:ss' }}
                                </ng-container>
                                <ng-container *ngIf="col.field === 'workingDate' || col.field === 'planDevaningDate'">
                                    {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                                </ng-container>
                                <ng-container *ngIf="col.field !== 'actDevaningDate' && col.field !== 'workingDate' && col.field !== 'planDevaningDate' && col.field !== 'actDevaningDateFinish'">
                                    {{ rowData[col.field] }}
                                </ng-container>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
            <div class="footer-action flex-center">
                <button pButton type="button" class="p-button-raised p-button-rounded mr-2" icon="pi pi-plus-circle" (click)="createDevaningCont()" *ngIf="status === 1">{{'Add' | localize}}</button>
            </div>
        </div>
    </div>
</div>
<p-contextMenu #contextMenu [model]="items"></p-contextMenu>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<create-or-edit-devaningcont #createOrEditDevaningContModal  [listDataDevaningCont]="listDataDevaningCont" (modalSave)="getAll()">
</create-or-edit-devaningcont>
