<div class="container" id="container">
    <div class="tab-heading">
        <p-tabView (onChange)="onTabChange($event)" styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-plus"></i>
                    <span>{{'New' | localize}}</span>
                    <p-badge [value]="recordCountReady"></p-badge>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-check-circle"></i>
                    <span>{{'Devaning' | localize}}</span>
                    <p-badge [value]="recordCountDevaning"></p-badge>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-inbox"></i>
                    <span>{{'Devaned' | localize}}</span>
                    <p-badge [value]="recordCountDevaned"></p-badge>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="devaning">
        <p-table #dt1
            [value]="listDataDevaningCont"
            dataKey="id"
            [rowHover]="true"
            [rowsPerPageOptions]="[10,25,5000]"
            [rows]="10"
            [paginator]="true"
            [metaKeySelection]="false"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            [(selection)]="rowSelection"
            [contextMenu]="contextMenu"
            [(contextMenuSelection)]="contextMenuSelection"
            [resizableColumns]="true"
            [globalFilterFields]="['devaningNo','containerNo','renban','suppilerNo', 'shiftNo', 'devaningStatus']">

            <ng-template pTemplate="caption">
                <div class="d-flex justify-between align-items-center">
                    <h3 class="m-0">NEW DEVANING</h3>
                    <div class="search-option">
                        <p-dropdown
                            [options]="searchFields"
                            [(ngModel)]="selectedField"
                            placeholder="Search by"
                            (onChange)="onSearch(searchValue)">
                        </p-dropdown>

                        <div class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="searchValue"
                                (input)="onSearch(searchValue)"
                                placeholder="Search..."
                                [disabled]="!selectedField"
                            />
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" pResizableColumn class="column-border-right">
                        <div class="flex justify-content-center align-items-center">
                            {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData">
                    <td pFrozenColumn>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of cols">
                        <ng-container
                            *ngIf="col.field === 'actDevaningDate' || col.field ==='actDevaningDateFinish'">
                            {{ rowData[col.field] | date:'dd/MM/yy HH:mm:ss' }}
                        </ng-container>
                        <ng-container *ngIf="col.field === 'workingDate' || col.field === 'planDevaningDate'">
                            {{ rowData[col.field] | date:'dd/MM/yyyy' }}
                        </ng-container>
                        <ng-container
                            *ngIf="col.field !== 'actDevaningDate' && col.field !== 'workingDate' && col.field !== 'planDevaningDate' && col.field !== 'actDevaningDateFinish'">
                            {{ rowData[col.field] }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-toast></p-toast>
        <p-toolbar styleClass="flex-center">

                <button pButton type="button" class="p-button-raised p-button-rounded mr-2" icon="pi pi-plus-circle" (click)="showDialog()" *ngIf="status === 1">&nbsp;{{'New' | localize}}</button>
                <!-- <button pButton type="button" pRipple  icon="pi pi-trash" class="p-button-danger p-button-rounded mr-2" ></button> -->


                <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-button-rounded mr-2" (click)="exportToExcel()"></button>
        </p-toolbar>
    </div>
</div>
<p-contextMenu #contextMenu [model]="items"></p-contextMenu>
<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-confirmDialog [style]="{width: '50vw'}" key="deleteDialog" [baseZIndex]="10000"></p-confirmDialog>
